.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.cart-item {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 400ms;
}

.cart-item .item-img {
    height: 50px;
}

.cart-item .item-img img {
    width: 50px;
}

.cart-item .item-title {
    text-align: center;
    width: 80%;
}

.cart-item .item-img img {
    height: 100%;
}

.cart-item .price, .cart-item .quantity {
    text-align: center;
    width: fit-content;
}


.increment, .decrement {
    padding: 6px 20px;
    font-size: 20px;
    border: none;
    background-color: #8f4eff;
    cursor: pointer;
    transition: 400ms;
}

.increment {
    margin-left: auto;
}

.increment:hover, .decrement:hover {
    background-color: #7d35f9;
}

@media (max-width: 600px) {
    .cart-item {
        gap: 10px;
        justify-content: space-between;
    }

    .increment {
        margin-left: 0;
    }

    .cart-item .item-title  {
        display: none;
    }
}