nav {
    height: 15vh;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;


    color: white;
}

.logo svg {
    font-size: 32px;
}

.menu-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;

}

.menu-links a {
    color: white;
}

